<div class="main-content">
    <div class="container-fluid">
        <div class="row" style="margin-top: -30px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>NIM</mat-label>
                                    <input matInput type="text" [(ngModel)]="nim" (keyup)="applyFilter(nim)">
                                    <button mat-button *ngIf="nim" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="nim=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-md-8">
                                <button mat-raised-button type="button" class="btn btn-primary pull-right"
                                    [disabled]="this.listNilai.length==0" (click)="print()">Print</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <p-toast></p-toast>
        <div class="row" style="margin-top: -30px;">
            <div class="col-md-6">
                <div class="card" [busyIf]="loading">
                    <div class="card-body">
                        <p-table #dt1 [value]="listMahasiswa" selectionMode="single" [(selection)]="selectedProduct2"
                            dataKey="nim" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10"
                            [showCurrentPageReport]="true" sortMode="multiple"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['nim','nama']" [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="caption">
                                <div class="table-header">
                                    List Mahasiswa
                                    <br><br>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search..." />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="nim">NIM <p-sortIcon field="nim"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="nama">Nama <p-sortIcon field="nama"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-mahasiswa>
                                <tr [pSelectableRow]="mahasiswa">
                                    <td>{{mahasiswa.nim}}</td>
                                    <td>{{mahasiswa.nama}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" [busyIf]="loading2">
                    <div class="card-body">
                        <p-table #dt [value]="listNilai" dataKey="kode_matkul" editMode="row" [paginator]="true"
                            [rows]="10" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['kode_matkul','nama','nilai']" [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="caption">
                                <div class="table-header">
                                    List Nilai
                                    <br><br>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search..." />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="kode_matkul">Kode <p-sortIcon field="kode_matkul"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="nama">Nama <p-sortIcon field="nama"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="nilai">Nilai <p-sortIcon field="nilai"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-list>
                                <tr [pSelectableRow]="list">
                                    <td>{{list.kode_matkul}}</td>
                                    <td>{{list.nama}}</td>
                                    <td>{{list.nilai}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>