<div class="main-content">
    <div class="container-fluid">
        <div class="row" style="margin-top: -30px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>NIM</mat-label>
                                    <input matInput type="text" [(ngModel)]="nim" (keyup)="applyFilter(nim)">
                                    <button mat-button *ngIf="nim" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="nim=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <kaprodi-ddl [(ngModel)]="kaprodi">
                                </kaprodi-ddl>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <p>Pilih Kaprodi supaya tombol edit muncul</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-toast></p-toast>
        <div class="row" style="margin-top: -30px;">
            <div class="col-md-6">
                <div class="card" [busyIf]="loading">
                    <div class="card-body">
                        <p-table #dt1 [value]="listMahasiswa" selectionMode="single" [(selection)]="selectedProduct2"
                            dataKey="nim" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10"
                            [showCurrentPageReport]="true" sortMode="multiple"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['nim','nama']" [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="caption">
                                <div class="table-header">
                                    List Mahasiswa
                                    <br><br>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search..." />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="nim">NIM <p-sortIcon field="nim"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="nama">Nama <p-sortIcon field="nama"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-mahasiswa>
                                <tr [pSelectableRow]="mahasiswa">
                                    <td>{{mahasiswa.nim}}</td>
                                    <td>{{mahasiswa.nama}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" [busyIf]="loading2">
                    <div class="card-body">
                        <p-table #dt2 [value]="listNilai" dataKey="kode_matkul" editMode="row" [paginator]="true"
                            [rows]="10" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [showCurrentPageReport]="true" [globalFilterFields]="['kode_matkul','nama','nilai']"
                            [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="caption">
                                <div class="table-header">
                                    List Nilai
                                    <br><br>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search..." />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Nilai</th>
                                    <th style="width:8rem"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-nilai let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="nilai">
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <!-- <input pInputText type="text" [(ngModel)]="nilai.kode_matkul"> -->
                                                {{nilai.kode_matkul}}
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{nilai.kode_matkul}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <!-- <input pInputText type="text" [(ngModel)]="nilai.nama" required> -->
                                                {{nilai.nama}}
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{nilai.nama}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <!-- <input pInputText type="text" [(ngModel)]="nilai.nilai"> -->
                                                <p-dropdown [options]="nilaies" [(ngModel)]="nilai.nilai"
                                                    [style]="{'width':'100%'}"></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{nilai.nilai}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="text-align:center">
                                        <button *ngIf="!editing&&kaprodi" pButton pRipple type="button" pInitEditableRow
                                            icon="pi pi-pencil" (click)="onRowEditInit(nilai)"
                                            class="p-button-rounded p-button-text"></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                            icon="pi pi-check" (click)="onRowEditSave(nilai)"
                                            class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                            icon="pi pi-times" (click)="onRowEditCancel()"
                                            class="p-button-rounded p-button-text p-button-danger"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>