<div style="position: relative;">
    <table align="center">
        <thead>
            <tr>
                <td>
                    <div class="header-space"></div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="content">
                        <router-outlet></router-outlet>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="footer-space"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="header">
    <table border="0" width="900" style="BORDER-COLLAPSE:COLLAPSE;">
        <tbody>
            <tr align="center">
                <td rowspan="3" align="right"><img src="/assets/img/stimata.jpeg" height="120" width="90" alt="logo">
                </td>
                <td>
                    <font size="4"><span style="font-weight: bold;"> SEKOLAH TINGGI MANAJEMEN INFORMATIKA DAN KOMPUTER
                        </span></font>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <font size="6"><span style="font-weight: bold;"> STMIK PPKIA PRADNYA PARAMITA</span></font>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <font size="3">Jl. Laksda Adi Sucipto 249 A Malang 65141, Telp (0341) 412699, Fax (0341)
                        412782<br>Official Website: www.stimata.ac.id</font>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="footer">print by : {{printby}}</div>