<div class="invoice" *ngIf="data">
    <!-- <h1>Invoice Num. {{ invoice }}</h1>
    Amount: {{ (invoiceDetails[i] | async)?.amount }} -->
    <table align="center" border="0" width="900" style="BORDER-COLLAPSE:COLLAPSE; margin-top: 30px;">
        <tbody>
            <tr align="center">
                <td rowspan="3" align="right"><img src="/assets/img/stimata.jpeg" height="120" width="90" alt="logo">
                </td>
                <td>
                    <font size="4"><span style="font-weight: bold;"> SEKOLAH TINGGI MANAJEMEN INFORMATIKA DAN KOMPUTER
                        </span></font>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <font size="6"><span style="font-weight: bold;"> STMIK PPKIA PRADNYA PARAMITA</span></font>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <font size="3">JJL. LAKSDA ADI SUCIPTO 249 A MALANG, TELP (0341) 412699, FAX (0341) 412782<br>
                    </font>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <div style="text-align:center;">
        <font size="6"><span style="font-weight: bold;">KARTU HASIL STUDI</span></font>
    </div>
    <table border="0" align="center" *ngIf="header" style="width: 100%;">
        <tbody>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <font size="3">Nama</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{header.nama}}</font>
                </td>
                <td width="70"> &nbsp; </td>
                <td>
                    <font size="3">Jenjang</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{header.jenjang}}</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="3">NIM</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{header.nim}}</font>
                </td>
                <td> &nbsp; </td>
                <td>
                    <font size="3">Program Studi</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{header.prodi}}</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="3">Dosen Wali</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{header.dosen}}</font>
                </td>
                <td> &nbsp; </td>
                <td>
                    <font size="3">Semester</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{semester}}</font>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <!-- <table border="1" style="BORDER-COLLAPSE:COLLAPSE;" align="center" cellpadding="3" style="width: 100%;">
        <tbody>
            <tr align="center" height="30" class="silver">
                <td>
                    <font size="3">No.</font>
                </td>
                <td>
                    <font size="3">Kode MTK</font>
                </td>
                <td>
                    <font size="3">Mata Kuliah</font>
                </td>
                <td>
                    <font size="3">sks</font>
                </td>
                <td>
                    <font size="3">Nilai</font>
                </td>
                <td>
                    <font size="3">Indeks</font>
                </td>
                <td>
                    <font size="3">Bobot</font>
                </td>
                <td>
                    <font size="3">Predikat</font>
                </td>
                <td>
                    <font size="3">Ket.</font>
                </td>
            </tr>
            <tr class="white" *ngFor="let a of data; let i = index" height="30">
                <td align="center">
                    <font size="2">{{i+1}}.</font>
                </td>
                <td>
                    <font size="3">{{a.kode_matkul}}</font>
                </td>
                <td>
                    <font size="3">{{a.nama}}</font>
                </td>
                <td align="center">
                    <font size="2">{{a.sks}}</font>
                </td>
                <td align="center">
                    <font size="2">{{a.sks}}</font>
                </td>
                <td align="center">
                    <font size="2">{{a.sks}}</font>
                </td>
                <td align="center">
                    <font size="2">{{a.sks}}</font>
                </td>
                <td align="center">
                    <font size="2">{{a.sks}}</font>
                </td>
                <td align="center">
                    <font size="2">{{setStatusMatkul(a.status_matkul)}}</font>
                </td>
            </tr>
        </tbody>
    </table> -->
    <table style="BORDER-COLLAPSE:COLLAPSE;" width="100%" frame="below" border="1">
        <tbody>
            <tr>
                <td width="*"></td>
            </tr>
        </tbody>
    </table>
    <table style="BORDER-COLLAPSE:COLLAPSE;" frame="vsides" rules="cols" cellpadding="0" cellspacing="5" height="30"
        width="100%" border="1">
        <tbody>
            <tr class="silver" height="30">
                <td>
                    <center>
                        <font size="2">&nbsp;No&nbsp;</font>
                    </center>
                </td>
                <td width="100">
                    <center>
                        <font size="2">Kode MTK</font>
                    </center>
                </td>
                <td width="360">
                    <center>
                        <font size="2">Mata Kuliah</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="2">&nbsp;sks&nbsp;</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="2">&nbsp;Nilai&nbsp;</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="2">&nbsp;Indeks&nbsp;</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="2">&nbsp;Bobot&nbsp;</font>
                    </center>
                </td>
                <td width="50">
                    <center>
                        <font size="2">&nbsp;Predikat&nbsp;</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="2">&nbsp;Ket.&nbsp;</font>
                    </center>
                </td>
            </tr>
            <tr height="30" *ngFor="let a of data; let i = index">
                <td>
                    <center>
                        <font size="2">{{i+1}}</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="2">{{a.kode_matkul}}</font>
                    </center>
                </td>
                <td>
                    <font size="2">&nbsp;&nbsp;{{a.nama_matkul}}</font>
                </td>
                <td>
                    <center>
                        <font size="2">{{a.sks}}</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="2">{{a.nilai}}</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="2">{{a.indeks}}</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="2">{{a.bobot}}</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="1">{{a.predikat}}</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="1">&nbsp;{{setStatusMatkul(a.status_matkul)}}&nbsp;</font>
                    </center>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="BORDER-COLLAPSE:COLLAPSE;" width="100%" frame="above" border="1">
        <tbody>
            <tr>
                <td width="*"></td>
            </tr>
        </tbody>
    </table>
    <table border="0" align="center" *ngIf="other" style="width: 100%;">
        <tbody>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <font size="3">Total Bobot</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{other.total_bobot}}</font>
                </td>
                <td width="70"> &nbsp; </td>
                <td>
                    <font size="3">Indeks Prestasi (IP)</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{setIP(other.ip)}}</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="3">Total SKS</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{other.total_sks}} sks</font>
                </td>
                <td> &nbsp; </td>
                <td>
                    <font size="3">Indeks Prestasi Kumulatif (IPK)</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{setIP(dipk.IPK)}}</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="3">Total SKS Lulus</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{other.totalTempuhSKS}} sks</font>
                </td>
                <td> &nbsp; </td>
                <td>
                    <font size="3">Beban Studi Maksimum y.a.d</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{beban}} sks</font>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table border="0" width="700" style="BORDER-COLLAPSE:COLLAPSE;width: 100%;" align="center" *ngIf="header">
        <tbody>
            <tr align="left">
                <td width="70%">&nbsp;</td>
                <td witdh="*">
                    <font size="3">Malang, {{current_date | date:('dd MMMM yyyy')}} </font>
                </td>
            </tr>
            <tr>
                <td width="50%">&nbsp;</td>
                <td witdh="*">
                    <font size="3">
                        <div style="text-align:left;">Ka. Prodi. {{header.jenjang}}-{{header.prodi}}</div>
                    </font>
                </td>
            </tr>
            <tr>
                <td><br><br><br><br></td>
            </tr>
            <tr>
                <td width="70%">&nbsp;</td>
                <td witdh="*">
                    <font size="3">
                        <div style="text-align:left;">{{footer.nama_kaprodi}}
                        </div>
                    </font>
                </td>
            </tr>
        </tbody>
    </table>
</div>