<div class="invoice" *ngIf="data">
    <!-- <h1>Invoice Num. {{ invoice }}</h1>
    Amount: {{ (invoiceDetails[i] | async)?.amount }} -->
    <br>
    <table border="0" style="BORDER-COLLAPSE:COLLAPSE;" width="100%">
        <tbody>
            <tr>
                <td>
                    <table border="1" style="BORDER-COLLAPSE:COLLAPSE;" width="100%">
                        <tbody>
                            <tr>
                                <td rowspan="2" width="90">
                                    <center> <img src="/assets/img/stimata.jpeg" height="90"> </center>
                                </td>
                                <td colspan="2">
                                    <center> STMIK PPKIA PRADNYA PARAMITA MALANG </center>
                                </td>
                            </tr>
                            <tr>
                                <td width="390">
                                    <center>FORMULIR DAFTAR HADIR DOSEN DAN REALISASI SATUAN ACARA PERKULIAHAN</center>
                                </td>
                                <td>
                                    <table border="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <font size="1">Kode Form</font>
                                                </td>
                                                <td>
                                                    <font size="1"> : </font>
                                                </td>
                                                <td>
                                                    <font size="1">FM-BAAK-015-1</font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <font size="1">REVISI</font>
                                                </td>
                                                <td>
                                                    <font size="1"> : </font>
                                                </td>
                                                <td>
                                                    <font size="1">00</font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <font size="1">TANGGAL</font>
                                                </td>
                                                <td>
                                                    <font size="1"> : </font>
                                                </td>
                                                <td>
                                                    <font size="1">20 Juli 2010</font>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <table border="0" width="100%">
                        <tbody>
                            <tr>
                                <td width="100">
                                    <font size="2">Mata kuliah</font>
                                </td>
                                <td>:</td>
                                <td width="340">
                                    <font size="2">Pemrograman Web 1</font>
                                </td>
                                <td>&nbsp;</td>
                                <td width="100">
                                    <font size="2">Semester</font>
                                </td>
                                <td>:</td>
                                <td>
                                    <font size="2">Gasal</font>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <font size="2">Kode MTK/sks</font>
                                </td>
                                <td>:</td>
                                <td>
                                    <font size="2">MKB0-5137 / 2 sks</font>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <font size="2">Tahun Akademik</font>
                                </td>
                                <td>:</td>
                                <td>
                                    <font size="2">2018/2019</font>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <font size="2">Dosen Pengampu</font>
                                </td>
                                <td>:</td>
                                <td>
                                    <font size="2">Andri Prasetyo, S.E.,MMSI</font>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <font size="2">Ruang</font>
                                </td>
                                <td>:</td>
                                <td>
                                    <font size="2">Lab. ApKom</font>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <font size="2">Program Studi</font>
                                </td>
                                <td>:</td>
                                <td>
                                    <font size="2">S-1 Sistem Informasi B</font>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <font size="2">Jam</font>
                                </td>
                                <td> : </td>
                                <td>
                                    <font size="2">17.50--19.30</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="1" style="BORDER-COLLAPSE:COLLAPSE; BORDER-COLOR:BLACK" width="100%">
                        <tbody>
                            <tr>
                                <td rowspan="2">
                                    <center>
                                        <font size="1">Pertemuan<font size="2"> Ke </font>
                                        </font>
                                    </center>
                                </td>
                                <td rowspan="2">
                                    <center>
                                        <font size="2">Tanggal</font>
                                    </center>
                                </td>
                                <td width="160" rowspan="2">
                                    <center>
                                        <font size="2">Pokok Bahasan</font>
                                    </center>
                                </td>
                                <td width="180" rowspan="2">
                                    <center>
                                        <font size="2">Sub Pokok Bahasan</font>
                                    </center>
                                </td>
                                <td colspan="2">
                                    <center>
                                        <font size="1">Kesesuaian dengan SAP*</font>
                                    </center>
                                </td>
                                <td colspan="3">
                                    <center>
                                        <font size="2">Tanda Tangan/Paraf</font>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <center>
                                        <font size="2">&nbsp;&nbsp;Ya&nbsp;&nbsp;</font>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <font size="2">Tidak</font>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <font size="2">Dosen</font>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <font size="2">Ketua Kelas</font>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <font size="2">Ka. Progdi</font>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td height="80">
                                    <center>
                                        <font size="2">VIII</font>
                                    </center>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="80">
                                    <center>
                                        <font size="2">IX</font>
                                    </center>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="80">
                                    <center>
                                        <font size="2">X</font>
                                    </center>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="80">
                                    <center>
                                        <font size="2">XI</font>
                                    </center>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="80">
                                    <center>
                                        <font size="2">XII</font>
                                    </center>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="80">
                                    <center>
                                        <font size="2">XIII</font>
                                    </center>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="80">
                                    <center>
                                        <font size="2">XIV</font>
                                    </center>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <font size="1">* Diisi oleh Ka. Progdi
                    </font>
                </td>
            </tr>
        </tbody>
    </table>
</div>