.bg {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)),
    url(/assets/img/cover.jpeg) no-repeat no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  display: block;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh !important;
  min-height: -webkit-fill-available !important;
}

.card {
  padding: 50px 10px;
}
