<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" [busyIf]="loading">
                    <div class="card-body">
                        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-4">
                                    <jenjang-ddl formControlName="jenjang" [(ngModel)]="jenjang">
                                    </jenjang-ddl>
                                </div>
                                <div class="col-md-4">
                                    <semester-ddl formControlName="semester" [(ngModel)]="semester">
                                    </semester-ddl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <tahun-ddl formControlName="tahun" [(ngModel)]="tahun">
                                    </tahun-ddl>
                                </div>
                                <div class="col-md-4">
                                    <prodi-ddl formControlName="jurusan" [(ngModel)]="prodi" #hasMessage>
                                    </prodi-ddl>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                                [disabled]="!profileForm.valid" [loading]="loading">Cari</button>
                            <div class="clearfix"></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <p-toast></p-toast>
        <div class="row">
            <div class="col-md-6">
                <div class="card" [busyIf]="loading1">
                    <div class="card-header card-header-rose">
                        <h5 class="card-title ">Mahasiswa</h5>
                    </div>
                    <div class="card-body">
                        <p-table #dt1 [value]="listMahasiswa" selectionMode="single" [(selection)]="selectedProduct2"
                            dataKey="nim" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                            [paginator]="true" [rows]="10" [showCurrentPageReport]="true" sortMode="multiple"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['nama','nim']" [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex">
                                    <span class="p-input-icon-right p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search keyword" />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="nim">NIM <p-sortIcon field="nim"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="nama">Nama <p-sortIcon field="nama"></p-sortIcon>
                                    </th>
                                    <!-- <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon>
                                    </th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-mahasiswa>
                                <tr [pSelectableRow]="mahasiswa">
                                    <td>{{mahasiswa.nim}}</td>
                                    <td>{{mahasiswa.nama}}</td>
                                    <!-- <td>{{mahasiswa.category}}</td>
                                    <td>{{mahasiswa.quantity}}</td> -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" [busyIf]="loading2">
                    <div class="card-header card-header-rose">
                        <h5 class="card-title ">Mata Kuliah</h5>
                    </div>
                    <div class="card-body">
                        <p-table #dt2 [value]="listMatkul" dataKey="id" editMode="row" [paginator]="true" [rows]="10"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [showCurrentPageReport]="true" [globalFilterFields]="['nama','kode_matkul']"
                            [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex">
                                    <span class="p-input-icon-right p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search keyword" />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Kode</th>
                                    <th>Nama Matakuliah</th>
                                    <!-- <th>Category</th>
                                    <th>Quantity</th> -->
                                    <th style="width:8rem"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-matkul>
                                <tr [pSelectableRow]="matkul">
                                    <td>{{matkul.kode_matkul}}</td>
                                    <td>{{matkul.nama}}</td>
                                    <!-- <td>{{matkul.category}}</td>
                                    <td>{{matkul.quantity}}</td> -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><button mat-raised-button type="button" class="btn btn-success pull-right"
                    [disabled]="!profileForm.valid">Print Semua</button></div>
        </div>
    </div>
</div>