<div class="main-content">
    <div class="container-fluid">
        <p-toast></p-toast>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon"><i class="material-icons">mail_outline</i></div>
                        <h4 class="card-title">Register Form</h4>
                    </div>
                    <div class="card-body">
                        <app-dynamic-form [questions]="questions$ | async"></app-dynamic-form>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row" *ngIf="isAdd">
            <div class="col-md-12">
                <div class="card" [busyIf]="loading">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon"><i class="material-icons">account_box</i></div>
                        <h4 class="card-title">User Form</h4>
                    </div>
                    <div class="card-body">
                        <dynamic-form-builder #dynamicformbuilder [fields]="getFields()"
                            (onSubmit)="getValueForm($event)">
                        </dynamic-form-builder>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card" [busyIf]="loading2">
                    <!-- <div class="card-body"> -->
                    <!-- <div class="row">
                            <div class="col-md-12 pull-right">
                                <button mat-raised-button class="btn btn-rose" (click)="open(content)"><i
                                        class="material-icons">person_add</i>
                                    Tambah User
                                </button>
                            </div>
                        </div> -->
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                                (click)="open(content,1)"></button>
                        </ng-template>
                    </p-toolbar>
                    <p-table #dt1 [value]="users" selectionMode="single" [(selection)]="selectedProduct2"
                        dataKey="username" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" sortMode="multiple"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [globalFilterFields]="['username','nama','status','quantity']"
                        [rowsPerPageOptions]="[10,25,50]">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <!-- <h5 class="p-m-0">User</h5> -->
                                <span class="p-input-icon-right p-ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Search keyword" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon>
                                </th>
                                <th pSortableColumn="nama">Role <p-sortIcon field="nama">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-user>
                            <tr [pSelectableRow]="user">
                                <td>{{user.username}}</td>
                                <td>{{user.nama}}</td>
                                <td>{{setStatus(user.statusLogin)}}</td>
                                <td> <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-warning p-mr-2"
                                        (click)="open(content,2,user)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="deleteUser(user)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                In total there are {{users ? users.length : 0 }} users.
                            </div>
                        </ng-template>
                    </p-table>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header btn-info">
        <h4 class="modal-title" id="modal-basic-title">Form User</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" [busyIf]="loading">
            <div class="col-md-12">
                <dynamic-form-builder #dynamicformbuilder [fields]="getFields()" (onSubmit)="getValueForm($event)">
                </dynamic-form-builder>
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div> -->
</ng-template>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>