<div class="invoice" *ngIf="data">
    <!-- <h1>Invoice Num. {{ invoice }}</h1>
    Amount: {{ (invoiceDetails[i] | async)?.amount }} -->
    <br>
    <table border="1" style="BORDER-COLLAPSE:COLLAPSE;" width="100%">
        <tbody>
            <tr>
                <td rowspan="2">
                    <center><img src="/assets/img/stimata.jpeg" width="80"></center>
                </td>
                <td colspan="2">
                    <center>
                        <font size="4"><span style="font-weight: bold;">STMIK PPKIA PRADNYA PARAMITA</span> <br>
                            <font size="3">Kampus : Jl. Laksda Adi Sucipto 249 A Malang <br>
                                <font size="2">Telp. (0341) 412699, Fax. (0341) 412782</font>
                            </font>
                        </font>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <font size="3"><span style="font-weight: bold;">FORMULIR<br>KARTU UJIAN AKHIR<br>SEMESTER Gasal
                                <br> TAHUN AJARAN
                                2010/2011</span></font>
                    </center>
                </td>
                <td>
                    <table border="0" style="BORDER-COLLAPSE:COLLAPSE;" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <font size="2">No. Dokumen</font>
                                </td>
                                <td>
                                    <font size="2"> :</font>
                                </td>
                                <td>
                                    <font size="2">FORM/BAAK/006/02</font>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <font size="2">No. Revisi</font>
                                </td>
                                <td>
                                    <font size="2"> :</font>
                                </td>
                                <td>
                                    <font size="2">03</font>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <font size="2">Tgl. Dibuat</font>
                                </td>
                                <td>
                                    <font size="2"> :</font>
                                </td>
                                <td>
                                    <font size="2">20 Januari 2011</font>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <font size="2">Tgl. Berlaku</font>
                                </td>
                                <td>
                                    <font size="2"> :</font>
                                </td>
                                <td>
                                    <font size="2">15 Mei 2013</font>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <font size="2">Penanggung Jawab</font>
                                </td>
                                <td>
                                    <font size="2"> :</font>
                                </td>
                                <td>
                                    <font size="2">Ka. BAAK</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table border="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <font size="3">Nama</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">Eka Yuniar</font>
                </td>
                <td>
                    <font size="3">Jenjang</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">S-1</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="3">NIM</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">10.51.0016</font>
                </td>
                <td>
                    <font size="3">Program Studi</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">Sistem Informasi </font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="3">Dosen Wali</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">Sujito, S.Kom., M.Pd.MMSI</font>
                </td>
                <td>
                    <font size="3">Semester</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">Gasal</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="3">&nbsp;</font>
                </td>
                <td></td>
                <td>
                    <font size="3">&nbsp;</font>
                </td>
                <td>
                    <font size="3">Th. Akademik</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">2010/2011</font>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table style="BORDER-COLLAPSE:COLLAPSE;" frame="below" border="1" width="100%">
        <tbody>
            <tr>
                <td width="680"></td>
            </tr>
        </tbody>
    </table>
    <table border="1" style="BORDER-COLLAPSE:COLLAPSE;" frame="vsides" rules="cols" cellpadding="5" width="100%"
        cellspacing="0" height="25">
        <tbody>
            <tr class="gray" height="35">
                <td width="30">
                    <center>
                        <font size="2">No</font>
                    </center>
                </td>
                <td width="90">
                    <center>
                        <font size="2">KODE MTK</font>
                    </center>
                </td>
                <td width="295">
                    <center>
                        <font size="2">NAMA MATA KULIAH</font>
                    </center>
                </td>
                <td width="50">
                    <center>
                        <font size="2">SKS</font>
                    </center>
                </td>
                <td width="40">
                    <center>
                        <font size="1">PROSEN-<br>TASE</font>
                    </center>
                </td>
                <td width="90">
                    <center>
                        <font size="1">TTD PENGAWAS</font>
                    </center>
                </td>
            </tr>
            <tr class="white" height="30">
                <td>
                    <center>
                        <font class="white" size="3">1</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">MKB0-5101</font>
                    </center>
                </td>
                <td>
                    <font class="white" size="3">Pengantar Teknologi Informasi</font>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">3</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="3">100 %</font>
                    </center>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="white" height="30">
                <td>
                    <center>
                        <font class="white" size="3">2</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">MKB0-5103</font>
                    </center>
                </td>
                <td>
                    <font class="white" size="3">Praktikum Paket Program Aplikasi</font>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">1</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="3">0 %</font>
                    </center>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="white" height="30">
                <td>
                    <center>
                        <font class="white" size="3">3</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">MKB0-5126</font>
                    </center>
                </td>
                <td>
                    <font class="white" size="3">Paket Program Aplikasi</font>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">2</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="3">100 %</font>
                    </center>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="white" height="30">
                <td>
                    <center>
                        <font class="white" size="3">4</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">MKK0-5101</font>
                    </center>
                </td>
                <td>
                    <font class="white" size="3">Logika Informatika</font>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">3</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="3">100 %</font>
                    </center>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="white" height="30">
                <td>
                    <center>
                        <font class="white" size="3">5</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">MKK0-5102</font>
                    </center>
                </td>
                <td>
                    <font class="white" size="3">Manajemen Umum</font>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">2</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="3">100 %</font>
                    </center>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="white" height="30">
                <td>
                    <center>
                        <font class="white" size="3">6</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">MKK0-5103</font>
                    </center>
                </td>
                <td>
                    <font class="white" size="3">Kalkulus</font>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">2</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="3">100 %</font>
                    </center>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="white" height="30">
                <td>
                    <center>
                        <font class="white" size="3">7</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">MKK0-5107</font>
                    </center>
                </td>
                <td>
                    <font class="white" size="3">Statistik</font>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">3</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="3">100 %</font>
                    </center>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="white" height="30">
                <td>
                    <center>
                        <font class="white" size="3">8</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">MPK0-5101</font>
                    </center>
                </td>
                <td>
                    <font class="white" size="3">Bahasa Inggris Profesi</font>
                </td>
                <td>
                    <center>
                        <font class="white" size="3">2</font>
                    </center>
                </td>
                <td>
                    <center>
                        <font size="3">100 %</font>
                    </center>
                </td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table style="BORDER-COLLAPSE:COLLAPSE;" frame="above" border="1" width="100%">
        <tbody>
            <tr>
                <td width="680"></td>
            </tr>
        </tbody>
    </table>
    <font size="3">Total SKS: 18 sks<p align="right">
        <table border="0" width="100%" style="margin-left: 70%;">
            <tbody>
                <tr>
                    <td>
                        <font size="2">Koord. BAAK</font>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td><img src="eka y.png" height="80"></td>
                </tr>
                <tr>
                    <td>
                        <font size="2">Eka Yuniar, S.Kom., MMSI</font>
                    </td>
                </tr>
            </tbody>
        </table>
    </font>
</div>