<div class="invoice" *ngIf="data">
    <!-- <h1>Invoice Num. {{ invoice }}</h1>
    Amount: {{ (invoiceDetails[i] | async)?.amount }} -->
    <br>
    <center>
        <table border="1" style="BORDER-COLLAPSE:COLLAPSE;border-color:#000000;">
            <tbody>
                <tr>
                    <td rowspan="2" width="90">
                        <center> <img src="/assets/img/stimata.jpeg" height="90"> </center>
                    </td>
                    <td colspan="2">
                        <center> STMIK PPKIA PRADNYA PARAMITA MALANG </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <font size="2">KODE Form</font>
                                    </td>
                                    <td> :</td>
                                    <td>
                                        <font size="2"> FM-BAAK-023</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <font size="2">REVISI</font>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <font size="2">00</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <font size="2">TANGGAL</font>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <font size="2"> 20 Juli 2010</font>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
    <center><br><span style="font-weight: bold;">BERITA ACARA</span><br>
    </center>
    <center>
        <table border="0">
            <tbody>
                <tr>
                    <td width="110">
                        <font size="2">Program Studi</font>
                    </td>
                    <td>
                        <font size="2">:</font>
                    </td>
                    <td width="300">
                        <font size="2">S-1 Sistem Informasi B</font>
                    </td>
                    <td width="20">&nbsp;</td>
                    <td width="190">
                        <font size="2">Jumlah Peserta Terdaftar</font>
                    </td>
                    <td>
                        <font size="2">:</font>
                    </td>
                    <td>
                        <font size="2">9 </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2">Kode MTK / sks</font>
                    </td>
                    <td>
                        <font size="2">:</font>
                    </td>
                    <td>
                        <font size="2">MKB0-5137 / 2</font>
                    </td>
                    <td width="20">&nbsp;</td>
                    <td>
                        <font size="2">Jumlah Peserta Hadir</font>
                    </td>
                    <td>
                        <font size="2">: </font>
                    </td>
                    <td>_____</td>
                </tr>
                <tr>
                    <td>
                        <font size="2">Matakuliah</font>
                    </td>
                    <td>
                        <font size="2">:</font>
                    </td>
                    <td>
                        <font size="2">PEMROGRAMAN WEB 1 </font>
                    </td>
                    <td width="20">&nbsp;</td>
                    <td>
                        <font size="2">Jumlah Peserta Tidak Hadir</font>
                    </td>
                    <td>
                        <font size="2">: </font>
                    </td>
                    <td>_____</td>
                </tr>
            </tbody>
        </table>
    </center>
    <center>
        _________________________________________________________________________________________________________<br><br>
        <center>
            _________________________________________________________________________________________________________<br><br>
            <center>
                _________________________________________________________________________________________________________<br><br>
                <center>
                    <table border="1" style="BORDER-COLLAPSE:COLLAPSE;border-color:#000000;">
                        <tbody>
                            <tr>
                                <td colspan="5">
                                    <font size="2">
                                        <center>DATA PELANGGARAN / KECURANGAN <br> PELAKSANAAN UJIAN </center>
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="30" height="30">
                                    <font size="2">
                                        <center>NO</center>
                                    </font>
                                </td>
                                <td width="100">
                                    <font size="2">
                                        <center>NIM</center>
                                    </font>
                                </td>
                                <td width="200">
                                    <font size="2">
                                        <center>NAMA</center>
                                    </font>
                                </td>
                                <td width="250">
                                    <font size="2">
                                        <center>BENTUK PELANGGARAN</center>
                                    </font>
                                </td>
                                <td width="100">
                                    <font size="2">
                                        <center>KETERANGAN</center>
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td height="30">
                                    <font size="2">
                                        <center>1.</center>
                                    </font>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="30">
                                    <font size="2">
                                        <center>2.</center>
                                    </font>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="30">
                                    <font size="2">
                                        <center>3.</center>
                                    </font>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="30">
                                    <font size="2">
                                        <center>4.</center>
                                    </font>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="30">
                                    <font size="2">
                                        <center>5.</center>
                                    </font>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </center>
                <center>
                    <table border="0">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <font size="2">
                                        <center>Malang, ____________________</center>
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <center>(.................................)</center>
                                </td>
                                <td></td>
                                <td>
                                    <center>(.................................)</center>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <font size="2">
                                        <center>Mengetahui</center>
                                    </font>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <font size="2">
                                        <center>Andri Prasetyo, S.E.,MMSI</center>
                                    </font>
                                </td>
                                <td></td>
                                <td>
                                    <font size="2">
                                        <center>Evy Sophia, S.Pd.,MMSI</center>
                                    </font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
                <p align="left">Pengawas ujian diwajibkan mengisi berita acara ini, apapun kejadian dalam pelaksanaan
                    ujian tersebut.

                </p>
            </center>
        </center>
    </center>
</div>