<div filter-color="black" class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card card-signup"
                    style="box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);">
                    <h2 class="card-title text-center">Not Found</h2>
                    <div class="card-body">
                        <div class="text-center">
                            <p>Anda tidak punya permission</p><button type="submit" (click)="logout()"
                                class="btn btn-danger btn-round mt-4">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>