<div class="invoice" *ngIf="dataLeft">
    <!-- <h1>Invoice Num. {{ invoice }}</h1>
    Amount: {{ (invoiceDetails[i] | async)?.amount }} -->
    <br><br>
    <center>
        <h2><u><span style="font-weight: bold;">SALINAN PRESTASI AKADEMIK</span></u></h2>
        <font size="1">No. Seri: /J.05/STIMATA/SNIL/{{current_date | date:('yyyy')}}</font>
    </center>

    <center>
        <p></p>
        <table border="0" style="BORDER-COLLAPSE:COLLAPSE;" width="100%" *ngIf="mahasiswa">
            <tbody>
                <tr></tr>
                <tr>
                    <td>
                        <font size="2">Nama</font>
                    </td>
                    <td>:</td>
                    <td>
                        <font size="2">{{mahasiswa.nama}}</font>
                    </td>
                    <td> &nbsp; </td>
                    <td>
                        <font size="2">Program Studi</font>
                    </td>
                    <td>:</td>
                    <td>
                        <font size="2">{{mahasiswa.jenjang}} {{mahasiswa.prodi}}</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2">NIM</font>
                    </td>
                    <td>:</td>
                    <td>
                        <font size="2">{{nim}}</font>
                    </td>
                    <td>&nbsp;</td>
                    <td width="150">
                        <font size="2">Thn. Akademik Masuk</font>
                    </td>
                    <td>:</td>
                    <td>
                        <font size="2">{{setTahunMasuk(nim)}}</font>
                    </td>
                </tr>
                <tr>
                    <td width="120">
                        <font size="2">Tempat, Tgl. Lahir</font>
                    </td>
                    <td>:</td>
                    <td>
                        <font size="2">{{mahasiswa.tempat_lahir}}, {{mahasiswa.tgl_lahir}}</font>
                    </td>
                    <td></td>
                </tr>


            </tbody>
        </table>
    </center>


    <table border="1" style="BORDER-COLLAPSE:COLLAPSE" align="center" width="100%" frame="hsides" rules="rows">
        <tbody>
            <tr>
                <td valign="top">
                    <table border="0" style="BORDER-COLLAPSE:COLLAPSE;" align="center" frame="vsides" width="100%"
                        rules="cols">
                        <tbody>
                            <tr align="center" bgcolor="silver" valign="center">
                                <td width="20" height="20">
                                    <font size="1">No.</font>
                                </td>
                                <td width="64">
                                    <font size="1">&nbsp;Kode MTK&nbsp;</font>
                                </td>
                                <td width="200">
                                    <font size="1">&nbsp;Nama MTK&nbsp;</font>
                                </td>
                                <td width="25">
                                    <font size="1">&nbsp;SKS&nbsp;</font>
                                </td>
                                <td width="25">
                                    <font size="1">&nbsp;Nilai&nbsp;</font>
                                </td>
                            </tr>
                            <tr bgcolor="white" *ngFor="let a of dataLeft; let i = index">
                                <td>
                                    <font size="1">&nbsp;{{i+1}}&nbsp;</font>
                                </td>
                                <td>
                                    <font size="1">&nbsp;{{a.kode_matkul}}&nbsp;</font>
                                </td>
                                <td>
                                    <font size="1">&nbsp;{{a.nama}}&nbsp;</font>
                                </td>
                                <td align="center">
                                    <font size="1">&nbsp;{{a.sks}}&nbsp;</font>
                                </td>
                                <td>
                                    <font size="1">&nbsp;{{a.nilai}}&nbsp;</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td valign="top">
                    <table border="0" style="BORDER-COLLAPSE:COLLAPSE;" frame="vsides" width="100%" rules="cols">
                        <tbody>
                            <tr align="center" bgcolor="silver" valign="center">
                                <td width="20" height="20">
                                    <font size="1">No.</font>
                                </td>
                                <td width="64">
                                    <font size="1">&nbsp;Kode MTK&nbsp;</font>
                                </td>
                                <td width="200">
                                    <font size="1">&nbsp;Nama MTK&nbsp;</font>
                                </td>
                                <td width="25">
                                    <font size="1">&nbsp;SKS&nbsp;</font>
                                </td>
                                <td width="25">
                                    <font size="1">&nbsp;Nilai&nbsp;</font>
                                </td>
                            </tr>
                            <tr bgcolor="white" *ngFor="let a of dataRight; let i = index">
                                <td>
                                    <font size="1">&nbsp;{{i+1+half}}&nbsp;</font>
                                </td>
                                <td>
                                    <font size="1">&nbsp;{{a.kode_matkul}}&nbsp;</font>
                                </td>
                                <td>
                                    <font size="1">&nbsp;{{a.nama}}&nbsp;</font>
                                </td>
                                <td align="center">
                                    <font size="1">&nbsp;{{a.sks}}&nbsp;</font>
                                </td>
                                <td>
                                    <font size="1">&nbsp;{{a.nilai}}&nbsp;</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" width="100%" style="BORDER-COLLAPSE:COLLAPSE;">
        <tbody>
            <tr>
                <td width="50%">
                    <font size="2">&nbsp;Total sks yang telah ditempuh : {{footer.totalTempuhSKS}}</font>
                </td>
                <td>
                    <font size="2">&nbsp;Total sks yang telah lulus : {{footer.totalTempuhSKS}}</font>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <font size="2">&nbsp;Indeks Prestasi Kumulatif (IPK) : {{setIP(dipk.IPK)}}</font>
                </td>
            </tr>
        </tbody>
    </table>


    <table border="0" align="right" *ngIf="mahasiswa">
        <tbody>
            <tr>
                <td>
                    <font size="2">Malang, {{current_date | date:('dd MMMM yyyy')}}</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="2">Ka. Prodi. {{mahasiswa.jenjang}}-{{mahasiswa.prodi}}</font>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <font size="2"><u><b>{{mahasiswa.nama_kaprodi}}</b></u></font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="2">NIK {{mahasiswa.kaprodi}}</font>
                </td>
            </tr>
        </tbody>
    </table>
</div>