<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Fist Name" type="text">
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Favorite animal</mat-label>
                                        <mat-select [formControl]="animalControl" required>
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let animal of animals" [value]="animal">
                                                {{animal.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal
                                        </mat-error>
                                        <mat-hint>{{animalControl.value?.sound}}</mat-hint>
                                    </mat-form-field> -->
                                </div>
                                <div class="col-md-6">
                                    <!-- <dosen-ddl #Projek #hasMessage [(ngModel)]="selectedProject"
                                        [(selectedProject)]="selectedProject"
                                        (ngModelChange)="exe_selectedTermCodeChange(selectedProject)">
                                    </dosen-ddl> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Adress" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="City" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Country" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Postal Code" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>About Me</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput
                                            placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                    </mat-form-field>
                                    <!-- <div class="form-group">
  
                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Cari</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <p-toast></p-toast>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- <h5>Events</h5>
                <p>onRowSelect and onRowUnselect are available as selection events.</p> -->
                        <p-table #dt1 [value]="products" selectionMode="single" [(selection)]="selectedProduct2"
                            dataKey="code" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                            [paginator]="true" [rows]="10" [showCurrentPageReport]="true" sortMode="multiple"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['name','code','category','quantity']"
                            [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex">
                                    <span class="p-input-icon-right p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search keyword" />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr [pSelectableRow]="product">
                                    <td>{{product.code}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.category}}</td>
                                    <td>{{product.quantity}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- <h5>Events</h5>
                    <p>onRowSelect and onRowUnselect are available as selection events.</p> -->
                        <p-table #dt1 [value]="products" selectionMode="single" [(selection)]="selectedProduct2"
                            dataKey="code" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                            [paginator]="true" [rows]="10" [showCurrentPageReport]="true" sortMode="multiple"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['name','code','category','quantity']"
                            [rowsPerPageOptions]="[10,25,50]">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex">
                                    <span class="p-input-icon-right p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search keyword" />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr [pSelectableRow]="product">
                                    <td>{{product.code}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.category}}</td>
                                    <td>{{product.quantity}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>