<div class="invoice" *ngIf="data">
    <!-- <h1>Invoice Num. {{ invoice }}</h1>
    Amount: {{ (invoiceDetails[i] | async)?.amount }} -->
    <br>
    <center>
        <table border="0" width="100%">
            <tbody>
                <tr>
                    <td rowspan="3">
                        <center><img src="/assets/img/stimata.jpeg" height="80"></center>
                    </td>
                    <td width="50">&nbsp;</td>
                    <td>
                        <font size="4">
                            <center><span style="font-weight: bold;">STMIK PPKIA PRADNYA PARAMITA MALANG</span></center>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="50">&nbsp;</td>
                    <td>
                        <font size="2">
                            <center>JL. LAKSDA ADI SUCIPTO 249 A MALANG, TELP (0341) 412699</center>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="50">&nbsp;</td>
                    <td>
                        <font size="4">
                            <center><span style="font-weight: bold;">PRESENSI KELAS</span></center>
                        </font>
                    </td>
                </tr>
            </tbody>
        </table><br>
        <center>
            <table border="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                            <font size="2">MATA KULIAH</font>
                        </td>
                        <td>:</td>
                        <td>
                            <font size="2">JARINGAN KOMPUTER</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <font size="2">SEMESTER</font>
                        </td>
                        <td>:</td>
                        <td>
                            <font size="2">GENAP</font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font size="2">KODE MTK/sks</font>
                        </td>
                        <td>:</td>
                        <td>
                            <font size="2">MKB0-5118 / 3 sks</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <font size="2">TAHUN</font>
                        </td>
                        <td>:</td>
                        <td>
                            <font size="2">2016/2017</font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font size="2">PROG. STUDI</font>
                        </td>
                        <td>:</td>
                        <td>
                            <font size="2">S-1 SISTEM INFORMASI B</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <font size="2">TGL. CETAK</font>
                        </td>
                        <td>:</td>
                        <td>
                            <font size="2">17/04/2021</font>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- presensi kelas sebelum uas -->
            <table style="BORDER-COLLAPSE:COLLAPSE; BORDER-COLOR:BLACK;" width="100%" border="1" cellpadding="0"
                cellspacing="0" height="100">
                <tbody>
                    <tr height="25">
                        <td rowspan="3" width="30">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NO</span></font>
                                </b></center>
                        </td>
                        <td rowspan="3" width="80">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NIM</span></font>
                                </b></center>
                        </td>
                        <td rowspan="3" width="250">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NAMA MAHASISWA</span></font>
                                </b></center>
                        </td>
                        <td colspan="8">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">TANDA TANGAN</span></font>
                                </b></center>
                        </td>
                    </tr>
                    <tr height="25">
                        <td width="40">
                            <font size="2">
                                <center>MG-8</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-9</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-10</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-11</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-12</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-13</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-14</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>UAS</center>
                            </font>
                        </td>
                    </tr>
                    <tr height="25">
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">1</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">14.51.0009</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;ERICK SATIA</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">2</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">14.51.0022</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;AJI MAULIDIO INDRA RUKMANA</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">3</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0002</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;MENTARI PUTRI FIRDAUSI</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">4</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0009</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;AHMAD SYARIF ROSIDY</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">5</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0010</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;EGA SETYA PUTRA</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">6</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0029</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;ACHMAD FIKRI ZULFIKAR</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">7</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0031</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;ABDUL CHAMID</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">8</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0033</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;SITI NUR KOIROH</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">9</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0035</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;HARI SUSANTO</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td colspan="3">
                            <center>
                                <font size="2">TANDA TANGAN DOSEN</font>
                            </center>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td colspan="3">
                            <center>
                                <font size="2">JUMLAH HADIR</font>
                            </center>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <br>
            <!-- presensi sebelum uts -->
            <table style="BORDER-COLLAPSE:COLLAPSE; BORDER-COLOR:BLACK;" width="100%" border="1" cellpadding="0"
                cellspacing="0" height="100">
                <tbody>
                    <tr height="25">
                        <td rowspan="3" width="30">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NO</span></font>
                                </b></center>
                        </td>
                        <td rowspan="3" width="80">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NIM</span></font>
                                </b></center>
                        </td>
                        <td rowspan="3" width="250">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NAMA MAHASISWA</span></font>
                                </b></center>
                        </td>
                        <td colspan="8">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">TANDA TANGAN</span></font>
                                </b></center>
                        </td>
                    </tr>
                    <tr height="25">
                        <td width="40">
                            <font size="2">
                                <center>MG-1</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-2</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-3</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-4</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-5</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-6</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>MG-7</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>UTS</center>
                            </font>
                        </td>
                    </tr>
                    <tr height="25">
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                        <td width="40">&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">1</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">14.51.0009</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;ERICK SATIA</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">2</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">14.51.0022</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;AJI MAULIDIO INDRA RUKMANA</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">3</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0002</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;MENTARI PUTRI FIRDAUSI</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">4</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0009</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;AHMAD SYARIF ROSIDY</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">5</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0010</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;EGA SETYA PUTRA</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">6</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0029</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;ACHMAD FIKRI ZULFIKAR</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">7</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0031</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;ABDUL CHAMID</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">8</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0033</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;SITI NUR KOIROH</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">9</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">15.51.0035</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;HARI SUSANTO</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td colspan="3">
                            <center>
                                <font size="2">TANDA TANGAN DOSEN</font>
                            </center>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr height="30">
                        <td colspan="3">
                            <center>
                                <font size="2">JUMLAH HADIR</font>
                            </center>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <br>
            <!-- presensi uts -->
            <table style="BORDER-COLLAPSE:COLLAPSE; BORDER-COLOR:BLACK;" width="100%" border="1" cellpadding="0"
                cellspacing="0" height="100">
                <tbody>
                    <tr height="25">
                        <td rowspan="2" width="30">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NO</span></font>
                                </b></center>
                        </td>
                        <td rowspan="2" width="80">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NIM</span></font>
                                </b></center>
                        </td>
                        <td rowspan="2" width="250">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NAMA MAHASISWA</span></font>
                                </b></center>
                        </td>
                        <td rowspan="2" width="100">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">TANDA TANGAN</span></font>
                                </b></center>
                        </td>
                        <td colspan="3">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NILAI</span></font>
                                </b></center>
                        </td>
                    </tr>
                    <tr height="25">
                        <td width="40">
                            <font size="2">
                                <center>TUGAS*</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>UTS*</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>AKHIR*</center>
                            </font>
                        </td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">1</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">14.51.0009</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;ERICK SATIA</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <!-- presensi uas -->
            <table style="BORDER-COLLAPSE:COLLAPSE; BORDER-COLOR:BLACK;" width="100%" border="1" cellpadding="0"
                cellspacing="0" height="100">
                <tbody>
                    <tr height="25">
                        <td rowspan="2" width="30">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NO</span></font>
                                </b></center>
                        </td>
                        <td rowspan="2" width="80">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NIM</span></font>
                                </b></center>
                        </td>
                        <td rowspan="2" width="250">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NAMA MAHASISWA</span></font>
                                </b></center>
                        </td>
                        <td rowspan="2" width="100">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">TANDA TANGAN</span></font>
                                </b></center>
                        </td>
                        <td colspan="3">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NILAI</span></font>
                                </b></center>
                        </td>
                    </tr>
                    <tr height="25">
                        <td width="40">
                            <font size="2">
                                <center>TUGAS*</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>UAS*</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>AKHIR*</center>
                            </font>
                        </td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">1</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">14.51.0009</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;ERICK SATIA</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <!-- presensi praktikum -->
            <table style="BORDER-COLLAPSE:COLLAPSE; BORDER-COLOR:BLACK;" width="100%" border="1" cellpadding="0"
                cellspacing="0" height="100">
                <tbody>
                    <tr height="25">
                        <td rowspan="2" width="30">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NO</span></font>
                                </b></center>
                        </td>
                        <td rowspan="2" width="80">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NIM</span></font>
                                </b></center>
                        </td>
                        <td rowspan="2" width="250">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NAMA MAHASISWA</span></font>
                                </b></center>
                        </td>
                        <td rowspan="2" width="100">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">TANDA TANGAN</span></font>
                                </b></center>
                        </td>
                        <td colspan="3">
                            <center><b>
                                    <font size="2"><span style="font-weight: bold;">NILAI</span></font>
                                </b></center>
                        </td>
                    </tr>
                    <tr height="25">
                        <td width="40">
                            <font size="2">
                                <center>HARIAN<br>20%</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>LAPORAN<br>20%</center>
                            </font>
                        </td>
                        <td width="40">
                            <font size="2">
                                <center>UJIAN<br>60%</center>
                            </font>
                        </td>
                    </tr>
                    <tr height="30">
                        <td>
                            <center>
                                <font size="2">1</font>
                            </center>
                        </td>
                        <td>
                            <center>
                                <font size="2">14.51.0009</font>
                            </center>
                        </td>
                        <td>
                            <font size="2">&nbsp;ERICK SATIA</font>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </center>
    </center>
    <font size="2"><br>BILA NAMA ANDA BELUM TERCANTUM DI LEMBAR PRESENSI, JANGAN MENULIS NAMA ANDA DI LEMBAR INI,
        SILAHKAN LAPOR LANGSUNG KE LOKET BAAK</font><br>
    <font size='2'>*) Nama mahasiswa dengan blok warna abu-abu terkena cekal ujian</font><br>
    <font size='2'>**) Kolom nilai harap diisi dengan angka</font>
    <center>
        <table border='0' cellpadding='0' cellspacing='0'>
            <tr>
                <td>
                    <font size='1'>TABEL NILAI :</font>
                </td>
                <td>
                    <font size='1'>A</font>
                </td>
                <td>
                    <font size='1'>=</font>
                </td>
                <td>
                    <font size='1'>85 - 100</font>
                </td>
                <td>&nbsp;</td>
                <td>
                    <font size='1'>C+</font>
                </td>
                <td>
                    <font size='1'>=</font>
                </td>
                <td>
                    <font size='1'>60 - 64</font>
                </td>
                <td width='180'> &nbsp; </td>
                <td>
                    <font size='2'>MALANG, ...... /...... /............</font>
                </td>
            </tr>
            <tr>
                <td rowspan='4'>&nbsp;</td>
                <td>
                    <font size='1'>A-</font>
                </td>
                <td>
                    <font size='1'>=</font>
                </td>
                <td>
                    <font size='1'>80 - 84</font>
                </td>
                <td>&nbsp;</td>
                <td>
                    <font size='1'>C</font>
                </td>
                <td>
                    <font size='1'>=</font>
                </td>
                <td>
                    <font size='1'>55 - 59</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size='1'>B+</font>
                </td>
                <td>
                    <font size='1'>=</font>
                </td>
                <td>
                    <font size='1'>75 - 79</font>
                </td>
                <td>&nbsp;</td>
                <td>
                    <font size='1'>C-</font>
                </td>
                <td>
                    <font size='1'>=</font>
                </td>
                <td>
                    <font size='1'>50 - 54</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size='1'>B</font>
                </td>
                <td>
                    <font size='1'>=</font>
                </td>
                <td>
                    <font size='1'>70 - 74</font>
                </td>
                <td>&nbsp;</td>
                <td>
                    <font size='1'>D</font>
                </td>
                <td>
                    <font size='1'>=</font>
                </td>
                <td>
                    <font size='1'>45 - 49</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size='1'>B-</font>
                </td>
                <td>
                    <font size='1'>=</font>
                </td>
                <td>
                    <font size='1'>65 - 69</font>
                </td>
                <td>&nbsp;</td>
                <td>
                    <font size='1'>E</font>
                </td>
                <td>
                    <font size='1'>=</font>
                </td>
                <td>
                    <font size='1'>0 - 44</font>
                </td>
                <td width='180'> &nbsp; </td>
                <td>
                    <font size='2'>Dosen</font>
                </td>
            </tr>
        </table>
    </center>
</div>