<div class="invoice" *ngIf="data">
    <!-- <h1>Invoice Num. {{ invoice }}</h1>
    Amount: {{ (invoiceDetails[i] | async)?.amount }} -->
    <div style="text-align:center;">
        <font size="6"><span style="font-weight: bold;">KARTU RENCANA STUDI</span></font>
    </div>
    <table border="0" align="center" *ngIf="header">
        <tbody>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <font size="3">Nama</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{header.nama}}</font>
                </td>
                <td width="70"> &nbsp; </td>
                <td>
                    <font size="3">Jenjang</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{header.jenjang}}</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="3">NIM</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{header.nim}}</font>
                </td>
                <td> &nbsp; </td>
                <td>
                    <font size="3">Program Studi</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{header.prodi}}</font>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="3">Semester</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{header.semester}}</font>
                </td>
                <td> &nbsp; </td>
                <td>
                    <font size="3">Dosen Wali</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3">{{header.dosen}}</font>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table border="1" style="BORDER-COLLAPSE:COLLAPSE;" align="center" cellpadding="3">
        <tbody>
            <tr align="center">
                <td>
                    <font size="3"><span style="font-weight: bold;">No.</span></font>
                </td>
                <td>
                    <font size="3"><span style="font-weight: bold;">Kode MTK</span></font>
                </td>
                <td>
                    <font size="3"><span style="font-weight: bold;">Mata Kuliah</span></font>
                </td>
                <td>
                    <font size="3"><span style="font-weight: bold;">sks</span></font>
                </td>
                <td>
                    <font size="3"><span style="font-weight: bold;">Status</span></font>
                </td>
                <td>
                    <font size="3"><span style="font-weight: bold;">Wajib/Pilihan</span></font>
                </td>
            </tr>
            <tr class="white" *ngFor="let a of data; let i = index">
                <td align="center">
                    <font size="2">{{i+1}}.</font>
                </td>
                <td>
                    <font size="3">{{a.kode_matkul}}</font>
                </td>
                <td>
                    <font size="3">{{a.nama}}</font>
                </td>
                <td align="center">
                    <font size="2">{{a.sks}}</font>
                </td>
                <td align="center">
                    <font size="2">{{setStatusMatkul(a.status_matkul)}}</font>
                </td>
                <td>
                    <font size="3">{{a.status}}</font>
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" style="BORDER-COLLAPSE:COLLAPSE;" align="center">
        <tbody>
            <tr>
                <td>
                    <font size="3">Total sks</font>
                </td>
                <td>:</td>
                <td>
                    <font size="3"><span style="font-weight: bold;">{{totalSks}}</span></font>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table border="0" width="700" style="BORDER-COLLAPSE:COLLAPSE;" align="center" *ngIf="header">
        <tbody>
            <tr align="center">
                <td width="400">&nbsp;</td>
                <td witdh="200">&nbsp;</td>
                <td witdh="100">
                    <font size="3">Malang, {{current_date | date:('dd MMMM yyyy')}} </font>
                </td>
            </tr>
            <tr>
                <td width="300">
                    <font size="3">
                        <div style="text-align:center;">Dosen Penasehat Akademik</div>
                    </font>
                </td>
                <td witdh="200">&nbsp;</td>
                <td witdh="100">
                    <font size="3">
                        <div style="text-align:center;">Mahasiswa,</div>
                    </font>
                </td>
            </tr>
            <tr>
                <td><br><br><br><br></td>
            </tr>
            <tr>
                <td width="300">
                    <font size="3">
                        <div style="text-align:center;"><span style="font-weight: bold;">{{header.dosen}}</span>
                        </div>
                    </font>
                </td>
                <td witdh="200">&nbsp;</td>
                <td witdh="100">
                    <font size="3">
                        <div style="text-align:center;"><span style="font-weight: bold;">{{header.nama}}</span>
                        </div>
                    </font>
                </td>
            </tr>
        </tbody>
    </table>
</div>